body {
    margin:0;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#map {
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Country circles*/
.country-circle {
    transition: fill 150ms ease-in-out;
    fill: #002951;
    stroke: red;
}
.country-circle.hovered {
    fill: red;
}
.country-circle.clicked {
    fill: red;
}


#view-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*TOOLTIP STYLING*/
.country-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    background: #002951;
}
.country-tooltip svg {
    width: 100%;
}
.country-tooltip h2 {
    color: #fff;
}

.pie-svg {
    position: relative;
}